article {
  background-color: rgba(65, 105, 225, .3);
  padding: 10px 20px;
  position: relative;
  height: 100%;
}

.buttons-group {
  position: absolute;
  top: -20px;
  right: 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 20px 0;
}

.tasks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 500px;
}

.task-enter {
  border: 2px dashed black
}
