.add-btn {
  position: absolute;
  top: 40px;
  right: 3vw;
}

h1 {
  margin: 10px 0 50px 0;
  color: #000;
  text-shadow: 3px 3px 3px #000000;
}

.boards {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.noBoards {
  position: absolute;
  top: 40%;
  left: 42vw;
  margin: 0 auto;
  color: rgba(105, 105, 105, 0.53);

  p {
    font-size: 20px;

    & + p {
      font-size: 14px;
      margin: 5px;
    }
  }

  .button-img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3.6vw;
    height: 48px;
    background-color: #28a745;
    border-radius: 5px;
    margin: 0 auto;

    i {
      color: white;
    }
  }
}

