.add-btn {
  position: absolute;
  top: 40px;
  right: 3vw;
}

h1 {
  margin: 10px 0 30px 0;
  color: #000;
  text-shadow: 3px 3px 3px #000000;
}

.boards {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 100%;
}

