<section>
  <header class="modal-header">
    <h1 class="display-4">{{editMode ? 'Edit Task' : 'New Task'}}</h1>

    <button type="button" class="close" (click)="modal.close()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </header>

  <div class="modal-body">
    <form (ngSubmit)="editMode ? editTask(task, currentBoard) : addTask(newTask.value, currentBoard)"
          #newTask="ngForm"
          id="newTask"
          name="newTask"
          novalidate>
      <div class="form-group">
        <label>Task title</label>
        <input type="text"
               *ngIf="editMode"
               class="form-control"
               name="title"
               #title="ngModel"
               [ngModel]="task?.title"
               (input)="changeTask(task, title.value, 'title')"
               placeholder="Enter a task title (required)"
               required>

        <input type="text"
               *ngIf="!editMode"
               class="form-control"
               name="title"
               #title="ngModel"
               ngModel
               placeholder="Enter a task title (required)"
               autofocus
               required>

        <!--<div *ngIf="title.touched && title.errors">-->
          <!--<div *ngIf="title.errors.required" class="alert alert-danger">Task title is required</div>-->
        <!--</div>-->
      </div>

      <div class="form-group">
        <label>Task description</label>
        <textarea name="description"
                  *ngIf="editMode"
                  class="form-control"
                  cols="10"
                  rows="3"
                  placeholder="Enter description of the task (required)"
                  #description="ngModel"
                  (input)="changeTask(task, description.value, 'description')"
                  [ngModel]="task?.description"
                  required>
        </textarea>

        <textarea name="description"
                  class="form-control"
                  *ngIf="!editMode"
                  cols="10"
                  rows="3"
                  placeholder="Enter description of the task (required)"
                  #description="ngModel"
                  ngModel
                  required>
        </textarea>

        <!--<div *ngIf="description.touched && description.errors">-->
          <!--<div *ngIf="description.errors.required" class="alert alert-danger">Description of the task is required</div>-->
        <!--</div>-->
      </div>

      <div class="form-group">
        <label>Estimate (in hours)</label>
        <input type="text"
               *ngIf="editMode"
               class="form-control"
               name="estimate"
               #estimate="ngModel"
               (input)="changeTask(task, estimate.value, 'estimate')"
               [ngModel]="task?.estimate"
               placeholder="Enter task estimate in hours (required)"
               pattern="[0-9]+"
               required>

        <input type="text"
               *ngIf="!editMode"
               class="form-control"
               name="estimate"
               #estimate="ngModel"
               ngModel
               placeholder="Enter task estimate in hours (required)"
               pattern="[0-9]+"
               required>
        <!--<div *ngIf="estimate.touched && estimate.errors">-->
          <!--<div *ngIf="estimate.errors.required" class="alert alert-danger">Estimate is required</div>-->
          <!--<div *ngIf="estimate.errors.pattern" class="alert alert-danger">Letters are not allowed</div>-->
        <!--</div>-->
      </div>
    </form>
  </div>

  <footer class="modal-footer">
    <button type="submit"
            class="btn btn-success"
            form="newTask"
            [disabled]="newTask.invalid">
      {{editMode ? 'Edit' : 'Create'}}
    </button>

    <button type="button"
            class="btn btn-secondary"
            (click)="resetForm(newTask)"
            data-dismiss="modal">
      Close
    </button>
  </footer>

</section>
