<section>
  <form (ngSubmit)="addBoard(newBoard.value)" #newBoard="ngForm" novalidate>
    <div class="form-group">
      <label for="board">Create new board</label>
      <input type="text"
             class="form-control"
             name="boardName"
             ngModel
             id="board"
             placeholder="Enter a board name"
             required>
    </div>

    <div class="form-group">
      <button type="submit"
              class="btn btn-primary"
              [disabled]="newBoard.invalid">
        <i class="fa fa-plus fa-lg"></i>
        Add new board
      </button>
    </div>
  </form>
</section>
